@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body, h1, h2, h3, p, ul, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: inherit;
}

/* Basic body styles */
body {
    font-family: Arial, sans-serif;
}

/* Top bar styles */
.top-bar {
    background-color: #1A3E66;
    color: white;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-bar .member {
    font-size: 14px;
}

.top-bar .logo_ttc {
    height: 30px;
    margin-left: 10px;
    margin-top: -5px;
    position: absolute;
}

.top-bar .right-top {
    display: flex;
    align-items: center;

}

.top-bar .student-page {
    margin-right: 20px;
    font-size: 14px;
}

.language-switch .flag  {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}


/* Navbar styles */
.navbar {
    background-color: #2E3B50;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-logo img {
    height: 70px;
    background-size: 80% auto;
    background-position: top center;
    margin: 0;
    margin-top: -6px;
    margin-left: 350px;

}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 20px;
}

.nav-item a {
    color: white;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 15px;
    display: block;
}

.nav-item a:hover {
    background-color: #99FFFF;
    border-radius: 5px;
}

.search-box {
    display: flex;
    align-items: center;
}

.search-box input {
    padding: 5px;
    border: none;
    border-radius: 3px 0 0 3px;
    height: 30px;
}

.search-box .search-btn {
    background-color: #1A3E66;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
}
